canvas {
    border: 2px solid #d94881;
  }
  
.chart-wrapper{
  display: flex;
  flex-direction: row;
}


  .chart-container{
    margin: 0 2%;
    
  } 
 
  @media(max-width: 950px) {

    .chart-wrapper{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .chart-container{
      margin: 2% 0;
      
    }

  }