form {
  color: #d94881;
  font-size: 20px;
  max-width: 600px;
  padding: 10px 0;
}

input[type=text],
input[type=password],
input[type=date], textarea, 
select {
  font-family: 'Urbanist', sans-serif;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #d94882d4;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  color: black;
  background-color: #d94881;
}

.incorrect{
  color: white;
  text-align: center;
  font-style: italic;
}