

.highColor{
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #f5171eed;
}

.moderateColor{
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #f8d110e9;
}

.lowColor{
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #2EB5E0ed;
}


