.burger {
    display: none;


}




@media(max-width: 950px) {
    .wrapper {
        display: flex;
        flex-direction: column;

    }


    .contentOne {
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: none;
        border-bottom: #d94881 5px solid;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        
    }

    .contentTwo {
        height: 100vh;
        /* overflow: auto; */
    }

    .containerOne {
        text-align: center;
    }

    .containerList {
        height: 100vh;
        display: block;
        text-align: center;
        overflow-x: auto;
        overflow-y: auto;
        padding-bottom: 50px;


    }

    .containerDash{
        padding: 20px;
        height: 100vh;
        width: 100vw;
        
    }

    #title {
        font-size: 30px;
    }

    #subtitle {
        font-size: 20px;
    }

    #logo {
        margin-top: 10%;
        height: 50px;
        width: 50px;

    }

    .standardFont, .white {

        font-size: 30px;
    }

    .burger {
        display: block;
        z-index: 1;
    }

    .menu-btn {
        display: block;
        width: 50px;
        height: 50px;
        background-color: #d94881;
        border-radius: 50%;
        position: fixed;
        left: 50%;
        top: 165px;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }

    .menu-btn span,
    .menu-btn span::before,
    .menu-btn span::after {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -10px;
        margin-top: -1px;
        width: 20px;
        height: 2px;
        background-color: #222;
    }

    .menu-btn span::before,
    .menu-btn span::after {
        content: '';
        display: block;
        transition: 0.2s;
    }

    .menu-btn span::before {
        transform: translateY(-5px);
    }

    .menu-btn span::after {
        transform: translateY(5px);
    }

    .menu-btn_active span {
        height: 0;
    }

    .menu-btn_active span:before {
        transform: rotate(45deg);
    }

    .menu-btn_active span:after {
        transform: rotate(-45deg);
    }

    .buttonCollection {
        display: none;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.921);
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: 170px;
        text-align: center;
        height: 100vh;
        
    }

    .showMenu {
        display: flex;
        flex-direction: column;
        padding-top: 30%;

    }

    .containerBug{
       height: 100vh; 
    }

    /* .ontainerDash{
        height: 100vh;
    } */

    /* canvas {
        
        width: 500px;
      } */
      












}