{% extends 'index.html' %}
{% block content %}
<div class="contentOne">
    <div class="containerOne">
        <img id="logo" src="../static/images/bug.png" alt="logo">
        {% if not name == 'Guest' %}
        <h1 id="title">Hey {{name}}.</h1>
        <h2 id="subtitle">Let's squash some bugs!</h2>
        {% else %}
        <h1 id="title">Hello Guest.</h1>
        <h2 id="subtitle">As a guest you cannot make changes to the databse</h2>
        {% endif %}
        
        <div class="buttonCollection">
            <a class="mainButtons linkSelect" href="/bugs_list">Current Bugs</a>
            <a class="mainButtons" href="/bugs_list">Dashboard</a>
            <a class="mainButtons" href="/report">Report a bug</a>
            <a class="mainButtons" href="/logout">Logout</a>
        </div>
    </div>
</div>
<div class="contentTwo background">
    <div class="container">
        <h2 class="standardFont center">Look at all those bugs...</h2>
        <div class="bugList">
            <div class="label">ID</div>
            <div class="label">Last updated on</div>
            <div class="label">Title</div>
            <div class="label">Description</div>
            <div class="label">Status</div>
            <div class="label">Last updated by</div>
            <div class="label">Update</div>
            {% for bug in bugs %}
            <div class="label">{{bug[0]}}</div>
            <div class="label">{{bug[1]}}</div>
            <div class="label">{{bug[2]}}</div>
            {% set x = bug[3].split()[:10] %}
            <div class="label">{{' '.join(x)}}...</div>
            <div class="label">{{bug[4]}}</div>
            <div class="label">{{bug[6]}}</div>
            {% if not name == 'Guest' %}
            <div class="label"><a href="/view/{{bug[0]}}">View</a><br><a href="/edit/{{bug[0]}}">Edit</a><br><a
                    href="/">Archive</a></div>
            {% else %}
            <div class="label"><a href="/view/{{bug[0]}}">View</a></div>
            {% endif %}
            
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}