{% extends 'index.html' %}
{% block content %}
<div class="contentOne">
    <div class="container">
        <img id="logo" src="../static/images/bug.png" alt="logo">
        <h1 id="title">Hey User.</h1>
        <h2 id="subtitle">Let's squash some bugs!</h2>
        <div class="buttonCollection">
            <a class="mainButtons linkSelect" href="/">Current Bugs</a>
            <a class="mainButtons" href="/">Dashboard</a>
            <a class="mainButtons" href="/">Report a bug</a>
        </div>
    </div>
</div>
<div class="contentTwo background">
    <div class="container">
        <h2 class="standardFont">Look at all those bugs...</h2>
        <div class="bugList">
            <div class="label">ID</div>
            <div class="label">Title</div>
            <div class="label">Description</div>
            <div class="label">Created By</div>
            <div class="label">Created On</div>
            <div class="label">Status</div>
        </div>
        <div class="bugList">
            <div class="label">Test</div>
            <div class="label">Test</div>
            <div class="label">Test</div>
            <div class="label">Test</div>
            <div class="label">Test</div>
            <div class="label">Test</div>
            <div class="label">Edit</div>
            <div class="label">Test</div>
            <div class="label">Test</div>
            <div class="label">Test</div>
            <div class="label">Test</div>
            <div class="label">Test</div>
            <div class="label">Test</div>
            <div class="label">Edit</div>
        </div>

    </div>
</div>
{% endblock %}