{% extends 'index.html' %}
{% block content %}
<div class="contentOne">
    <div class="containerOne">
        <img id="logo" src="../static/images/bug.png" alt="logo">
        {% if not name == 'Guest' %}
        <h1 id="title">Hey {{name}}.</h1>
        <h2 id="subtitle">Let's squash some bugs!</h2>
        {% else %}
        <h1 id="title">Hello Guest.</h1>
        <h2 id="subtitle">Sign up to add/edit bugs!</h2>
        {% endif %}

        <div class="buttonCollection">
            <a class="mainButtons linkSelect" href="/dash">Dashboard</a>
            <a class="mainButtons" href="/bugs_list">Current Bugs</a>
            {% if not name == 'Guest' %}
            <a class="mainButtons" href="/report">Report a bug</a>
            {% endif %}
            <a class="mainButtons" href="/archives">Archives</a>
            <a class="mainButtons" href="/logout">Logout</a>
        </div>
    </div>
</div>
<div class="contentTwo background">
    <div id="bug_count" style="display: none;">{{bug_count|tojson}}</div>
    <div id="priority_count" style="display: none;">{{priority_count|tojson}}</div>

    

    <div class="containerDash">
        {% if not name == 'Guest' %}
    <h2><span class="white">{{name}}! You've reported </span><span class="standardFont"> {{bugs_reported}}</span><span class="white">
            bug(s) to date!</span></h2>
    {% endif %}

    <h2><span class="white">Total Active Bugs: </span><span class="standardFont"> {{total_bugs}}</span></h2>

    <div class="chart-wrapper">
        <div class="chart-container">
            <canvas id="chart"></canvas>
        </div>
        <div class="chart-container">
        <canvas id="chart2"></canvas>
    </div>
</div>


        
        <h2><span class="white">There are </span><span class="standardFont"> {{urgent_bugs}}</span><span class="white"> bugs that
                needs urgent fixing!</span></h2>


        <h2><span class="white">Total Bugs Resolved: </span><span class="standardFont"> {{total_resolved}}</span></h2>
        <h2><span class="white">Total Bugs in Archive: </span><span class="standardFont"> {{archive_count}}</span></h2>

        <div id="space"></div>
    </div>
</div>

{% endblock %}