{% extends 'index.html' %}
{% block content %}
<div class="contentOne">
    <div class="containerOne">
        <img id="logo" src="../static/images/bug.png" alt="logo">
                <h1 id="title">Bug Control.</h1>
                <h3 id="subtitle">A simple bug tracking app</h3>
        <div class="buttonCollection">
            <a class="mainButtons" href="/sign">Sign Up</a>
            <a class="mainButtons linkSelect" href="/login">Login</a>
            <a class="mainButtons" href="/">Home</a>
        </div>
    </div>
</div>
<div class="contentTwo background">
    <div class="container">
        {% if incorrect_login %}
    <p class="incorrect">Incorrect login details, try again...</p>
    {% endif %}
        <form action="/login_action" method="POST">
            <label class="standardFont" for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="Your email address..">
        
            <label class="standardFont" for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Your password..">
          
            <input class="standardFont" type="submit" value="Login">
          </form>


    </div>
</div>
{% endblock %}